DynamicConfigurationManager.UnitTests/DynamicConfigurationSection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:xmlns:dcm">
  <xs:element name="DynamicConfigurationSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="add" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Global Application Settings</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="key" use="optional"/>
                <xs:attribute type="xs:string" name="value" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="include">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="set"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="configMap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="key" use="optional"/>
                      <xs:attribute type="xs:string" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="include" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="set" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="assemblyPath" use="optional"/>
            <xs:attribute type="xs:string" name="environmentVariable" use="optional"/>
            <xs:attribute type="xs:string" name="assemblyPathRegEx" use="optional"/>
            <xs:attribute type="xs:string" name="callingTypeFullnameRegEx" use="optional"/>
            <xs:attribute type="xs:string" name="commandLineArgs" use="optional"/>
            <xs:attribute type="xs:string" name="configPathRegEx" use="optional"/>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="hostname" use="optional"/>
            <xs:attribute type="xs:string" name="hostnameRegEx" use="optional"/>
            <xs:attribute type="xs:string" name="executablePathRegEx" use="optional"/>
            <xs:attribute type="xs:string" name="executablePath" use="optional"/>
            <xs:attribute type="xs:string" name="currentDirectory" use="optional"/>
            <xs:attribute type="xs:string" name="currentDirectoryRegEx" use="optional"/>
            <xs:attribute type="xs:string" name="hostnameList" use="optional"/>
            <xs:attribute type="xs:string" name="webServiceBinPath" use="optional"/>
            <xs:attribute type="xs:anyURI" name="updateLocation" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="configSet">
          <xs:annotation>
            <xs:documentation>legacy test for a configSet not inside the newer configSets element</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="key"/>
                      <xs:attribute type="xs:string" name="value"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="include">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="set"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="configSet">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="add">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key"/>
                            <xs:attribute type="xs:string" name="value"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="configSets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="configSet" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Configuration Sets</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="add" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
